#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}
#detectionHeader{
  font-weight:700;
}

.detectionBtn {
  margin-top: 30px;
  margin-right: 30px; 
  margin-left: 30px;   
}

label{
  font-weight:500;
 }

input{
   margin-left: 10px;
 }

#scriptBtn{
  margin-top: 50px;
 }

#result {
  padding-top: 4%;
  max-width: 1000px;
  margin: 0 auto ; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#compareBtn{
  margin-left: 30px;
}